# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/

# Data (fichiers lourds)
data/*

!data/*/.gitkeep

notebooks/private/*

POC/*

# Outputs
outputs/figures/*
outputs/reports/*
!outputs/*/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
